.App-header {
  background-color: #282c34;
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.description {
  border: 2px solid lightgreen;
  padding: 10px;
}

.App-flex-container {
  margin-top: 18%;
  display: flex;
  flex-direction: row;
}

.playlists-flex-container {
  flex: 50%;
  display: flex;
  flex-wrap: wrap;
  margin-left: 5%;
  flex-direction: column;
}

.song-flex-container {
  flex: 50%;
  display: flex;
  justify-content: flex-start;
  margin-left: 5%;
  flex-direction: column;
}
/* Have to change the ruleset below because they won't be divs any more */

div > img {
  display: inline-grid;
  margin: 20px;
}
